table, th, td {
	border:1px solid black;
  }

/* trainingCertificate-wrapper */
.trainingCertificate-wrapper {
	background: var(--content_background_color);
	color: var(--content_headings);
	width: auto;
	padding: 30px 40px;
}

/* trainingCertificate-form */
.trainingCertificate-wrapper > * {
    margin: 5px;
}

/* trainingCertificateTable */
.trainingCertificateTable tr td {
	align-items: center;
	padding: 10px;
}

.trainingCertificateTable tr td input {
	border: 0px;
}

/* tableWeekDay */
.tableWeekDay {
	writing-mode: vertical-rl;
	text-align: center;
}

/* tableHeader */
.tableHeader {
	height: 50px;
}

/* tableHeaderCell */
.tableHeaderCell {
	padding: 10px;
	height: 50px;
	background-color: var(--content_background_secondary_color);
}

/* tableContent */
.tableContent {
	height: 100%;
}

/* trainingActivities */
.trainingActivities {
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
}

/* trainingActivitiesHours */
.trainingActivitiesHours {
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
}

/* tableWeekDay */
.tableWeekDay {
	background-color: var(--content_background_secondary_color);
}

/* btn */
.btn {
	width: 200px;
	height: 30px;
	margin: 3px;
}

/* btnBox */
.btnBox {
	float: right;
}

/* trainingTotalHours */
.trainingTotalHours {
	height: 100%;
}

/* department */
.department {
	height: 100%;
}

/* totalTableContent */
.totalTableContentContent {
	height: 50px;
}

/* weekdays */
.monday {
	height: 50px;
}

.tuesday {
	height: 50px;
}

.wednesday {
	height: 50px;
}

.thursday {
	height: 50px;
}

.friday {
	height: 50px;
}

.saturday {
	height: 50px;
}

/* addRowButton */
.addRowButton {
	border-radius: 50%;
	height: 20px;
	width: 20px;
	text-align: center;
	border: none;
	font-size: 15px;
	background-color: var(--content_background_secondary_color);
	color: var(--content_background_color)
}

/* addRowCell */
.addRowCell {
	text-align: center; 
    vertical-align: middle;
}

/* commentArea */
.commentArea {
	display: flex;
	align-items: top;
}

/* comment */
.comment {
	width: 800px;
	margin-left: 5px;
}