:root {
	--content_background_color: #ffffff;
	--body_background_color: #dddddd;
	--content_headings: #242323;
	--content_border_color: #6f6e6e;
	--content_input_placeholder_color: #8c8b8b;
	--color_accent: #dd4d4d;
}

.navbar {
    background-color: #efebeb;
    padding: 20px 20px;
    width: 100%;
    height: 50px;
    justify-content: center;
    display:  flex;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
    margin-right: 50px;
}

.nav-item a {
    color: #e30101;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-item a:hover {
    background-color: #555;
}